<div class="card card-body mb-3">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <input type="text" name="text" [(ngModel)]="text"  class="form-control" placeholder="Add a log...">
    </div>
    <input type="submit" value="Add Log" class="btn btn-light" [disabled]="!this.text">
    <!--#1 ClearState with button -->
    <button (click)="clearState()" type="button" class="btn btn-warning"
    [hidden]="!this.text">Clear</button>
  </form>
</div>
